/* Custom Styles for SlightWork */
:root {
  --vp-c-brand-1: #95d995;
  --vp-c-brand-2: #80c780;
  --vp-c-brand-3: #6ab56a;
  --vp-c-brand-soft: rgba(149, 217, 149, 0.16);
}

.dark {
  --vp-c-bg: #1B1D24;
  --vp-c-bg-alt: #101217;
  --vp-c-bg-elv: #2a2e38;
  --vp-c-bg-soft: #242833;
}